1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [89]:
print("Asim",27,False,23.5)

Asim 27 False 23.5

Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [45]:
print("asim", "age 27", "false", "23.5", sep=("-"))

asim-age 27-false-23.5

Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [91]:
print("asim", "age 27", False, "23.5", sep=(" "))

asim age 27 False 23.5

4) Can a python print function take no value to print???

In [49]:
print()

Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [103]:
print ("pakistan", end="")
print (30, end="")
print (True, end="")
print (23.5)

pakistan30True23.5


    One of my friends name is Mr. Ahmed. He is 30 years old. He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015. He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [121]:
freind_name = ("Mr.Ahmed")
age = (30)
profession = ("lawyer")
qualification = ("law")
graduation_year = (2005)
firm_name = ("The Himalya Associates")
joining_date = (2015)
height_f = (5.10)
weight_g = (70600)
monthly_income_pkr = (200000)

In [119]:
joining_date

2015

How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [169]:
current_year = (2024)
degree_year = (current_year - graduation_year)
print(degree_year)

print(f" my freind {freind_name} bachelors degree {degree_year}")

19
 my freind Mr.Ahmed bachelors degree 19

How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [173]:
working_in_firm = (current_year - joining_date)

In [175]:
working_in_firm

9

)Convert the monthly income of Mr. Ahmed in dollars. Create necesary variables and print the income in dollars.

In [129]:
dollar = 280

In [135]:
print(monthly_income_pkr / dollar)

714.2857142857143

Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [177]:
income_in_dollar = (monthly_income_pkr // dollar)

In [145]:
income_in_dollar

714.2857142857143

In [179]:
print(type(income_in_dollar))

<class 'int'>

In [151]:
print(int(income_in_dollar))

714

In [153]:
print(type(income_in_dollar))

<class 'float'>

Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value

In [185]:
weight_kg = (weight_g / 1000)

In [187]:
weight_kg

70.6

In [195]:
print (f" my freind weight is {weight_kg}")

 my freind weight is 70.6

In [199]:
print(int(weight_kg))

70

In [203]:
print (f" my freind weight is {int(weight_kg)}")

 my freind weight is 70

print the birth year Mr. Ahmed

In [205]:
birth_year = current_year - age

In [207]:
birth_year

1994

In [209]:
dob = 1994

Can Rs. 100 be divided equally among 6 students? HINT: % operator (modulo)

In [213]:
100%6

4